{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit {{restCall.name()}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{ url_for('editRestCall',call_id = restCall.id)}}" method = "post">
				<div class="form-group">
					<input type="hidden" name="state" value="{{STATE}}">
				<label for="method">Method:</label>
				<div class="radio">
				  <label>
				    <input type="radio" name="method" id="GET" value="GET" 
				        {% if restCall.method == 'GET' %}checked{%endif%}>
				    GET
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="method" id="POST" value="POST" 
				        {% if restCall.method == 'POST' %}checked{%endif%}>
				    POST
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="method" id="PUT" value="PUT" 
				        {% if restCall.method == 'PUT' %}checked{%endif%}>
				    PUT
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="method" id="DELETE" value="DELETE" 
				        {% if restCall.method == 'DELETE' %}checked{%endif%}>
				    DELETE
				  </label>
				</div>
					<label for="path">Path:</label>
					<input type ="text" class="form-control" name="path" value="{{restCall.path }}">
					<div class="padding-bottom"></div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
				</div>
			</form>
			<a href = '{{url_for('showRestCallDetail', call_id = restCall.id)}}'>
				<button class="btn btn-default">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
			</a>
		</div>
	</div>
{% endblock %}