{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>

	<h1>{{ restCall.method }}  {{ restCall.path }}
	<a href="{{url_for('editRestCall', call_id = restCall.id )}}">
		<button class="btn-small btn-default" id="edit-rest-call">Edit</button>
	</a>
		<a href="{{url_for('deleteRestCall', call_id = restCall.id )}}">
			<button class="btn-small btn-default" id="delete-rest-call">Delete</button>
		</a>
	</h1>

	{{restCall.description}}
	<a href="{{url_for('editDescription', call_id = restCall.id )}}">
		<button class="btn-small btn-default" id="edit-description">Edit</button>
	</a>

	<h2>Parameters
		<a href="{{url_for('createParameter', call_id = restCall.id )}}">
			<button class="btn-small btn-default" id="new-parameter">Add Parameter</button>
		</a>
	</h2>

	<table class="table">
		<div class="col-md-12">
			<tr color=green>
				<td>Type</td>
				<td>Name</td>
				<td>Description</td>
				<td>Range</td>
				<td>Required</td>
				<td>Default</td>
				<td></td>
			</tr>
		</div>
        {% for param in restCall.parameters %}
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 parameter-descr-list">
						<tr>
							<td>{{param.type}}</td>
							<td>{{param.name}}</td>
							<td>{{param.description}}</td>
							<td>{{param.range}}</td>
							<td>{% if param.required %}Y{% else %}N{% endif %}</td>
							<td>{{param.default}}</td>
							<td>
										<a href="{{url_for('editParameter', call_id = restCall.id, parameter_id = param.id )}}">
											<button class="btn-small btn-default" id="edit-parameter">Edit</button>
										</a>
										<a href="{{url_for('deleteParameter', call_id = restCall.id, parameter_id = param.id )}}">
											<button class="btn-small btn-default delete" id="delete-parameter">Delete</button>
										</a>
							</td>
						</tr>
					</div>
				<div class="col-md-1"></div>
			</div>
	    {% endfor %}
	</table>

	<h2>Example Request
	<a href="{{url_for('editExampleRequest', call_id = restCall.id )}}">
		<button class="btn-small btn-default" id="edit-example-request">Edit</button>
	</a>
	</h2>

<pre>
{{restCall.exampleRequest}}
</pre>

	<h2>Example Response
	<a href="{{url_for('editExampleResponse', call_id = restCall.id )}}">
		<button class="btn-small btn-default" id="edit-example-request">Edit</button>
	</a>
	</h2>

<pre>
{{restCall.exampleResponse}}
</pre>
	
{% endblock %}
